.login{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#060a07;

}

.login__container{

    width:420px;

}

.login__subtitle{

    color:#00D166;

    font-size:.75rem;

    letter-spacing:.2em;

    font-weight:700;

}

.login__title{

    margin:.5rem 0;

    color:white;

    font-size:4rem;

    line-height:1;

}

.login__title span{

    color:#00D166;

}

.login__description{

    color:#8d9a91;

    margin-bottom:2rem;

}

.login__description strong{

    color:white;

}

.login__info{

    margin-top:1.5rem;

    border:1px solid #203324;

    padding:1.2rem;

}

.login__info h3{

    color:#8d9a91;

    font-size:.75rem;

    margin-bottom:1rem;

    letter-spacing:.1em;

}

.login__info ul{

    list-style:none;

    padding:0;

    margin:0;

}

.login__info li{

    color:#6d7a70;

    font-size:.85rem;

    margin-bottom:.8rem;

}